@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

main {
    background: #000;
}

.carousel {
    scrollbar-width: 0;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scroll-snap-align: center;
}

.carousel div {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-snap-align: center;
}
@media (min-width: 640px) {
    #main-index {
        background-color: black;
        height: 100vh;
    }
    main {
        overflow-y: scroll;
    }
}

#main-index {
    background-image: url("../../public/main-bg.svg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
